<% layout('layouts/boilerplate') %>
  <h1>All Campgrounds</h1>
  <div>
    <a href="/campgrounds/new">Add New Campground</a>
  </div>
  <% for(var i=0; i<campgrounds.length; i++) { %>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">
          <img src="<%= campgrounds[i].image %>" class="img-fluid">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <%= campgrounds[i].title %>
            </h5>
            <p class="card-text">
              <%= campgrounds[i].description %>
            </p>
            <p class="card-te">
              <small class="text-muted">
                <%= campgrounds[i].location %>
              </small>
              <a href="/campgrounds/<%= campgrounds[i]._id %>" class="btn btn-primary">View</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <% } %>